body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("Holding_hands1.jpg");
    background-size: 100vw 100vh;
}

nav {
    background-color:teal;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    margin-right: 20px;
}

.about_btn{
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.about_btn:hover {
    background-color: gray;
}

.please_login {
    margin-top: 25vh;
    text-align: center;
}

.lgin_as {
    margin-top: 20px;
}

.lgin_as a {
    font-size: 20px;
}

.button {
    display: inline-block;
    padding: 20px 40px;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 0 10px;
    background-color: teal;
}

.button:hover {
    background-color: gray;
}
